@tailwind base;
@tailwind components;
@tailwind utilities;

.loader,
.loader-small {
	display: flex;
	justify-content: center;
	align-items: center;
	/* width: 100vw; */
}

.loader {
	height: 100vh;
}

.loader-small {
	height: 70vh;
}

.loader img,
.loader-small img {
	width: 250px;
}